
// VARIABLES

$white : white;

body{overflow-x: hidden;}

.header{display: flex; justify-content: space-between; padding: 2%; align-items: center; background-color: #2c3e50;
    .logo{text-decoration: none;
        h2{position: block; color: white; font-family: Arial, Helvetica, sans-serif;}
    }
    .menu{background-color: #0493A3; position: absolute; top: 0; width: 100%; left: -100vw; opacity: 0; transition: .4s ease; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 998; background-color: #0493A3;
        .menu-item{padding: 15px 20px; list-style: none;
            a{color: $white; font-family: Arial, Helvetica, sans-serif;}
        }
    }
    .hamburger{height: 30px; width: 40px; display: flex; flex-direction: column; justify-content: center;;
        .bar{height: 5px; width: 100%; background-color: $white; border-radius: 5px; z-index: 999}
        #top{transform: translateY(-4px); transition: all .6s ease;}
        #middle{transition: all .6s ease;}
        #bottom{transform: translateY(4px); transition: all .6s ease;}
    }
    .open{opacity: 1; left: 0;
        #top{transform: translateY(5px) rotate(135deg); background-color: $white;}
        #middle{opacity: 0; transform: rotate(360deg);}
        #bottom{transform: translateY(-5px) rotate(-135deg); background-color: $white;}
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  
    .header{
        .menu{top: 0;}
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .header{
        .menu{top: 0;}
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .header{padding: 10px 120px; align-items: center; margin-top: 0px; position: relative; top: 0px;
        .logo{width: 100%;
            h2{font-size: 25px;}
        }
        .menu{position: relative; top: 0; width: 100%; left: 0; opacity: 1; display: flex; border-radius: 6px; justify-content: flex-end; background-color: rgba(0, 0, 0, 0); align-items: center; flex-direction: row;
            .menu-item{padding: 27px 10px;
                a{color: $white; font-size: 16px; text-decoration: none;}
            }
        }
        .hamburger{display: none;}
    }
}